name: Publish
on:
  push:
    tags:
      - "v*"
      - "!*-*" # Exclude pre-releases (tags with hyphens)

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Install
        run: deno install

      - name: Publish to JSR
        run: deno publish
